.selector-page ul li:hover {
    background-color: #f8f8f6;
}

.selector-page ul li h5 {
    font-size: 26px;
    margin-top: 14px;
}

.selector-page ul li p {
    font-size: 10px;
    margin: 0;
}

.selector-page ul li.selected {
    background-color: #baefb3;
    box-shadow: inset 0 0 0 1px #30c51d;
}
.selector-page ul li + li {
    margin-left: 10px;
}
.selector-page ul li {
    text-align: center;
    display: inline-block;
    max-width: 100px;
    padding: 10px 10px;
    border-radius: 4px;
    white-space: normal;
}

.selector-page ul {
    font-size: 0;
    list-style: none;
    padding: 10px 0;
    display: inline-block;
    white-space: nowrap;
}

.selector-page {
    font-family: "Lato", sans-serif;
}

.selector {
    max-width: 100%;
    overflow-x: scroll;
    width: 100%;
    display: block;
}