.tab-bar__button {
  color: #ffffff;
}

:checked + .tab-bar__button {
  color: #ffffff;
}
:checked + .tab-bar__button > .tab-bar__icon {
  color: #e52d27;
}

.youtube-toolbar {
  background: #e52d27;
  color: white;
}

@media all and (orientation: portrait) {
  #player {
    height: 40vh;
  }
}

@media all and (orientation: landscape) {
  #player {
    height: 70vh;
    width: 70vw;
    margin: auto;
  }
}


.search-input:focus {
  background-color: #b31217;
  color: white;
  border: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

::-webkit-input-placeholder{ color: #e52d27;}
:-moz-placeholder{ color: #e52d27;}
::-moz-placeholder{ color: #e52d27;}
:-ms-input-placeholder{ color: #e52d27;}


.after-search-bar {
    z-index: 1;
    word-wrap: break-word !important;
}
.after-list {
    color: #999;
    font-size: 15px;
    text-align: center;
}

.list-item-container {
  line-height: 1;
  padding: 15px 0px 15px 15px;
}

.thumbnail {
  width: 196px;
  height: 110px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.title {
  font-weight: 500;
  line-height: 16px;
  font-size: 15px;
  margin-bottom: 6px;
}

.user {
  font-size: 12px;
  opacity: 0.8;
  color: #e52d27;
  margin-bottom: 6px;
}

.desc {
  line-height: 1.2;
  font-size: 13px;
}

#avatarBox {
    display: none;
}

#searchBox {
    display: none;
}

#animated_moto {
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {left:0px; top:0px;}
    100% { left:100%; top:0px;}
}

/* Standard syntax */
@keyframes example {
    0%   {left:0px; top:0px;}
    100% { left:100%; top:0px;}
}
