<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MOTTO</title>

        <script src="https://cdn.rawgit.com/OnsenUI/OnsenUI/1.3.4/build/js/angular/angular.min.js"></script>
        <script src="https://cdn.rawgit.com/OnsenUI/OnsenUI/1.3.4/build/js/onsenui.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/jquery-2.1.4.min.js"></script>
        <script src="js/jquery.mousewheel.js"></script>
        <script src="js/mousescroll.js"></script>
        <script type="text/javascript" src="js/members.json"></script>

        <link rel="stylesheet" href="css/mousescroll.css">
        <link rel="stylesheet" href="https://cdn.rawgit.com/OnsenUI/OnsenUI/1.3.4/build/css/onsenui.css">
        <link rel="stylesheet" href="https://cdn.rawgit.com/OnsenUI/OnsenUI/1.3.4/build/css/onsen-css-components.css">
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body ng-app="myApp" ng-controller="VideosController" ng-init="loadd()">

        <ons-modal var="modal" ng-click="youtube.player.stopVideo(); modal.hide();">
            <div id="player">
                <div id="placeholder" style="width: 100%"></div>
            </div>
        </ons-modal>

        <ons-page>


            <ons-toolbar id="searchToolbar" style="position: fixed;" fixed-style>
                <div class="center youtube-toolbar"> MOTTOBOOK </div>
            </ons-toolbar>
            


            <script type="text/javascript">
            $(document).ready(function() {
                $('#avatarBox').delay(2000).fadeIn(100);
            });
            </script>

            <div id = "avatarBox" class="selector-page" >
                <div class="selector" >
                    <ul class="selector">
                        <li ng-repeat="product in myArr">
                            <button ng-show= "product.type === 'user'" ng-click="search( product.id ,true)"> <img src = {{product.avatar}} > {{ product.name }} </button>
                            <button ng-hide= "product.type === 'user'" ng-click="searchByChannel( product.id ,true)"> <img src= {{product.avatar}} > {{ product.name }} </button>
                        </li >
                    </ul>
                </div>
            </div>
            <script>
            $( document ).ready(function() {
                $("#animated_moto").delay(2000).fadeOut(0);
            });
            </script>

            <div id="animated_moto"><img src="wheelie.png" height="145px" width="145px"></img> </div>

            <ons-list class="after-search-bar">
                <ons-list-item modifier="tappable" class="list-item-container" ng-repeat="video in results track by $index" ng-click="modal.show(); launch(video, true)">
                    <ons-row>
                        <ons-col width="195px">
                            <img class="thumbnail" ng-src="{{ video.thumbnail }}">
                        </ons-col>
                        <ons-col>
                            <div class="title">
                                {{ video.title }}
                            </div>
                            <div class="user">
                                <ons-icon icon="fa fa-user"><span style="font-size: 12px"> {{ video.author ? video.author : "Anonymous" }}</span></ons-icon>
                            </div>
                            <div class="desc">
                                {{ video.description }}
                            </div>
                        </ons-col>
                        <ons-col width="140px"></ons-col>
                    </ons-row>
                </ons-list-item>
            </ons-list>

            <p id="avatarBox" class="after-list" ng-show="results.length === 0">
                <span ng-hide="loading" ng-init=searchByChannel("UCBDlVKLZLjWMDdE1jk6KSKw",true)></span>
                <span ng-show="loading"><ons-icon icon="fa fa-spinner" size="122px" spin="true"></ons-icon></span>
            </p>

            <p class="after-list" ng-show="results.length > 0 && nextPageToken !== ''">
                <ons-button var="loadMoreButton" style="background-color: #e52d27" ng-click="loadMoreButton.startSpin(); loadMoreButton.setDisabled(true); search(false)">Load more videos</ons-button>
            </p>

        </ons-page>

    </body>
</html>
